*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    font-family:Arial, sans-serif;
}

nav{
    height:70px;
    background:black;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 25px;
}

.logo{
    width:40px;
}

.home{
    width:48px;
    height:48px;
    border-radius:50%;
    background:#1f1f1f;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:20px;
}

.search{
    width:600px;
    height:48px;

    background:#242424;

    border-radius:30px;

    display:flex;
    align-items:center;

    padding:0 20px;
}

.search i{
    color:#b3b3b3;
    font-size:18px;
}

.search input{
    flex:1;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:16px;
    margin:0 15px;
}

.install{
    background:black;
    color:white;
    border:none;
    font-size:16px;
    cursor:pointer;
}
.notification{
    color: white;
    width: 20px;
    text-align: center;
}
border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/*footer */
.footer{
    background:#121212;
    color:white;
    padding:40px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
}

.column{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.column a{
    color:#b3b3b3;
    text-decoration:none;
}

.column a:hover{
    color:white;
    text-decoration:underline;
}

.social{
    display:flex;
    gap:15px;
}

.social i{
    width:40px;
    height:40px;
    background:#292929;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.footer-bottom{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
    color:#b3b3b3;
}